*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: centre;
    justify-content: center;
    padding: 50px 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 30fr));
    grid-gap: 30px;
}
.gallery  img{
    width: 100%;
}
.background-clip{
    opacity: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}